@model IEnumerable<MIS4200_Team7.Models.recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "recognitions", FormMethod.Get))
{
    <p>
        Find by name (First, Last or Both): @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.profileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Now)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.fullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognizerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recognitionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Now)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.award)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.recognitionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.recognitionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.recognitionID })
            </td>
        </tr>
    }

</table>
