@model IEnumerable<MIS4200_Team7.Models.recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.profileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognizerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Now)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value.valueName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognizerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Now)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recognitionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.recognitionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recognitionID })
        </td>
    </tr>
}

</table>
