@model MIS4200_Team7.Models.Performance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Performance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ratingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ratingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dateRated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dateRated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.performanceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
