@model MIS4200_Team7.Models.userProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details Test</h2>

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.positionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.positionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

    </dl>

</div>
<br />
<br />
@{
    var total = ViewBag.total;
    var excellence = ViewBag.Excellence;
    var culture = ViewBag.Culture;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var innovate = ViewBag.Innovate;
    var passion = ViewBag.Passion;
    var balance = ViewBag.Balance;
}
<table class="table">
    <tr>
        <th>
            Total Recognitions
        </th>
        <th>
            Excellence
        </th>
        <th>
            Culture
        </th>
        <th>
            Integrity
        </th>
        <th>
            Stewardship
        </th>
        <th>
            Innovate
        </th>
        <th>
            Passion
        </th>
        <th>
            Balance
        </th>
        <th>
            Recognition Details
        </th>
    </tr>
    <tr>
        <td>
            @total
        </td>
        <td>
            @excellence
        </td>
        <td>
            @culture
        </td>
        <td>
            @integrity
        </td>
        <td>
            @stewardship
        </td>
        <td>
            @innovate
        </td>
        <td>
            @passion
        </td>
        <td>
            @balance
        </td>
        <td>
            @Html.ActionLink("View Recognitions", "Index", "Recognitions", new { @searchString = Model.firstName }, null)
        </td>
    </tr>

</table>



    



    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.profileID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
