@model MIS4200_Team7.Models.userProfile

@{
    ViewBag.Title = "Details";
}

<h2>Details Test</h2>

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.positionTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.positionTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

    </dl>

</div>
<br />
<br />
@{
    var total = ViewBag.total;
    var excellence = ViewBag.Excellence;
    var culture = ViewBag.Culture;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var innovate = ViewBag.Innovate;
    var passion = ViewBag.Passion;
    var balance = ViewBag.Balance;
    <h2>Total recognitions received = @total</h2>
    <h3>Excellence awards = @excellence</h3>
    <h3>Culture awards = @culture</h3>
    <h3>Integrity awards = @integrity</h3>
    <h3>Stewardship awards = @stewardship</h3>
    <h3>Innovate awards = @innovate</h3>
    <h3>Passion awards = @passion</h3>
    <h3>Balance awards = @balance</h3>
}
    <h3>@Html.ActionLink("View Recognitions", "Index", "Recognitions", new { @searchString = Model.firstName}, null) </h3>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.profileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
